<div class="abc-container">
  <div class="row">
    <div class="col-6 col-lg-2 ml-auto d-flex">
      <div class="ml-auto mr-4 pt-2">
        <div class="score">Fråga {{nbrOfGuesses}} av {{nbrOfQuestions}}</div>
        <div class="score">Antal rätt: {{nbrOfCorrectGuesses}}</div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-6 text-center mt-3 mb-3" *ngFor="let letter of letters; let i = index">
      <button class="custom-button" [disabled]="!active || !gameOngoing" (click)="selectLetter(letter)" [ngStyle]="{'background-color': getColor(letter, true, (i + 1) % 4)}">
        <span class="button-letter" [ngStyle]="{'color': getColor(letter, false, i)}">
          <span *ngIf="caseFilter === 'uppercase'">{{letter | uppercase}}</span>
          <span *ngIf="caseFilter === 'lowercase'">{{letter | lowercase}}</span>
        </span>
      </button>
    </div>
  </div>

  <div class="start-button-container" *ngIf="!gameOngoing && !pause">
    <div *ngIf="firstGame">
      <i (click)="startGame()" class="far fa-play-circle fa-9x start-button"></i>
    </div>

    <div *ngIf="!firstGame">
      <i (click)="playAgain()" [hidden]="playAgainButtonCooldown" class="fas fa-redo-alt fa-9x start-button"></i>
      <div class="mt-3 game-over-text mb-3"><span>{{gameOverText}}</span></div>
    </div>

  </div>

  <i class="fas fa-arrow-up fa-3x mr-3 mb-3 bottom-right" style="color: var(--sunglow)" (click)="switchCase()"></i>
  <!--<div id="correct" class="ml-3">Rätt bokstav: {{correctLetter | uppercase}}</div>-->
</div>




