<div class="abc-container pb-5">

  <div class="welcome-text text-center" style="padding-top:5rem">
    <span>V</span>
    <span>Ä</span>
    <span>L</span>
    <span>K</span>
    <span>O</span>
    <span>M</span>
    <span>M</span>
    <span>E</span>
    <span>N</span>
  </div>
  <div class="text-center">
    <span style="color: var(--sunglow)">VAD VILL DU SPELA FÖR SPEL?</span>
  </div>

  <div class="row pt-5">
    <div class="col-4 text-center">
      <a routerLink="/alphabet" routerLinkActive="active">
        <button class="game-button first-game" (click)="setGame('GISSA RÄTT BOKSTAV')">GISSA RÄTT BOKSTAV</button>
      </a>
    </div>
  </div>

</div>





